<!-- Inicio do Formulario -->
<form [formGroup]="formPessoas">
  <!-- (Inicio) Header - cadastro -->
  <div class="ui-g-12 ui-md-8">
    <div class="ui-g-12 ui-md-12">
      <label><strong>{{tipoEntidade.singular}}</strong></label>
    </div>
    <div class="ui-g-12 ui-md-2">
      <input id="input" type="text" [readonly]="isAtivo" pInputText class="ng-invalid" formControlName="identidade" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Tipo Pessoa:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12" style="text-align:right">
      <p-selectButton [options]="gridTipoPessoa" class="ng-invalid" [readonly]="isAtivo" formControlName="tbtipopessoaIdtipopessoa"></p-selectButton>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Ativo:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <p-inputSwitch onLabel="Sim" offLabel="Não" [readonly]="isAtivo" class="ng-invalid" formControlName="isativo"></p-inputSwitch>
    </div>
  </div>
  <!-- (Fim) Header - cadastro -->

  <!-- (Inicio) Coluna 1 - cadastro -->
  <div class="ui-g-12 ui-md-6">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Nome:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input id="input" type="text" pInputText [readonly]="isAtivo" class="ng-dirty ng-invalid" formControlName="nome" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Nome Abrev.:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input pInputText type="text" pInputText [readonly]="isAtivo" class="ng-dirty ng-invalid" formControlName="abvnome" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Cep:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <p-inputMask formControlName="cep" class="ng-invalid" [readonly]="isAtivo" mask="99999?-999" (onBlur)="consultaCEP()"></p-inputMask>
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Numero:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input id="input" type="text" pInputText class="ng-invalid" [readonly]="isAtivo" formControlName="numero" />
    </div>
  </div>
  <!-- (Fim) Coluna 1 - cadastro -->

  <!-- (Inicio) Coluna 2 - cadastro -->


  <!-- (Fim) Coluna 1 - cadastro -->

  <!-- (Inicio) Coluna 2 - cadastro -->
  <div class="ui-g-12 ui-md-4">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Endereco:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input id="input" type="text" pInputText class="ng-invalid" [readonly]="isAtivo" formControlName="endereco" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Bairro:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input id="input" type="text" pInputText class="ng-invalid" [readonly]="isAtivo" formControlName="bairro" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Complemento:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input pInputText type="text" pInputText class="ng-invalid" [readonly]="isAtivo" formControlName="complemento" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-1">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Estado:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input pInputText type="text" pInputText class="ng-invalid" [readonly]="isAtivo" formControlName="idestado" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-3">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Cidade</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input pInputText type="text" pInputText class="ng-invalid" [readonly]="isAtivo" formControlName="cidade" />
    </div>
  </div>
  <!-- (Fim) Coluna 2 - cadastro -->

  <!-- (Inicio) Coluna 3 - cadastro -->
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 ui-md-12">
      <label><strong>{{(formPessoas.get('tbtipopessoaIdtipopessoa').value==1) ? 'CPF:' : 'CNPJ:'}}</strong></label>
    </div>
    <div *ngIf="(formPessoas.get('tbtipopessoaIdtipopessoa').value==1)" class="ui-g-12 ui-md-12">
      <p-inputMask formControlName="cpf" class="ng-invalid" [readonly]="isAtivo" mask="999.999.999-99" (onBlur)="validaCpf()"></p-inputMask>
    </div>
    <div *ngIf="(formPessoas.get('tbtipopessoaIdtipopessoa').value!=1)" class="ui-g-12 ui-md-12">
      <p-inputMask formControlName="cpf" class="ng-invalid" [readonly]="isAtivo" mask="99.999.999/9999-99" (onBlur)="validaCnpj()"></p-inputMask>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 ui-md-12">
      <label><strong>{{(formPessoas.get('tbtipopessoaIdtipopessoa').value==1) ? 'RG:' : 'Insc. Estadual:'}}</strong></label>
    </div>
    <div *ngIf="(formPessoas.get('tbtipopessoaIdtipopessoa').value==1)" class="ui-g-12 ui-md-12">
      <p-inputMask formControlName="rg" class="ng-dirty ng-invalid" [readonly]="isAtivo" mask="9.999.999?-*"></p-inputMask>
    </div>
    <div *ngIf="(formPessoas.get('tbtipopessoaIdtipopessoa').value!=1)" class="ui-g-12 ui-md-12 ">
      <input formControlName="rg" pInputText type="text" pInputText class="ng-dirty ng-invalid" [readonly]="isAtivo" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Telefone:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <p-inputMask formControlName="telefone" class="ng-invalid" [readonly]="isAtivo" mask="(99) 9999-999"></p-inputMask>
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Celular:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <p-inputMask formControlName="celular" class="ng-invalid" [readonly]="isAtivo" mask="(99) 99999-999"></p-inputMask>
    </div>
  </div>
  <div class="ui-g-12 ui-md-4">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Contato de Recado:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <input pInputText type="text" pInputText class="ng-invalid" [readonly]="isAtivo" formControlName="recado" />
    </div>
  </div>
  <!-- (Fim) Coluna 3 - cadastro -->

  <!-- (Inicio) Coluna 4 - cadastro -->
  <div class="ui-g-12 ui-md-10">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Email:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-6">
      <input id="input" type="email" pInputText class="ng-invalid" [readonly]="isAtivo" formControlName="email" />
    </div>
  </div>
  <div class="ui-g-12 ui-md-2">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Data Nascimento:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <!--input pInputText type="text" pInputText placeholder="Data Nascimento" formControlName="dtnascimento" /-->
      <p-inputMask mask="99/99/9999" [(ngModel)]="dataNascimento" class="ng-invalid" name="dataNascimento" (onBlur)="sincronizaDataNascimento()"
        required [ngModelOptions]="{standalone: true}" slotChar="dd/mm/yyyy" [readonly]="isAtivo"></p-inputMask>
    </div>
  </div>
  <!-- (Fim) Coluna 4 - cadastro -->
  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-12 ui-md-12">
      <label><strong>Observação:</strong></label>
    </div>
    <div class="ui-g-12 ui-md-12">
      <textarea [rows]="2" [cols]="40" pInputTextarea class="ng-invalid" [readonly]="isAtivo" placeholder="Observação" autoResize="autoResize"
        formControlName="obs"></textarea>
    </div>
  </div>
  <!-- (Fim) Coluna 5 - cadastro -->
  <div class="ui-g-12 ui-md-12">
    <div class="ui-g-12 ui-md-2">
      <button type="button" label="Salvar registro" pButton></button>
    </div>
    <div class="ui-g-12 ui-md-2">
      <button type="button" label="Novo registro" pButton></button>
    </div>
  </div>
</form>
